#t-shirts{
    text-align: center;
}
#t-shirts .pro2 {
    width: 25%;
    max-width: 250px;
    padding: 10px 12px;
    border: 1px solid #cce7d0;
    cursor: pointer;
    border-radius: 25px;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.2);
    margin: 15px 0px;
    transition: 0.2s ease;
    position: relative;
  }
  
  #t-shirts .pro2 img {
    max-width:100px;
    width: 100%;
    border-radius: 20px;
  }
  /* #t-shirts .pro-container2 :hover{
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.3);
  } */
  #t-shirts .pro2 .design2{
    text-align: start;
    padding: 10px 0px;
  }
  #t-shirt .pro2 .design2 span {
    color: #060663;
    font-size: 13px;
  }
  #t-shirts .pro2 .design2 h5 {
    padding-top: 7px;
    color: #1a1a1a;
    font-size: 14px;
  }
  #t-shirts .pro2 .design2 i {
    font-size: 12px;
    color: orange;
  }
  #t-shirts .pro2 .design2 h4 {
    color: rgb(37, 173, 128);
    padding-top: 7px;
    font-size: 15px;
    font-weight: 700;
  }
  #t-shirts .pro2 .fa-cart-shopping {
    width: 40px;
    height: 40px;
    line-height: 40px;
    background-color: #e8f6ea;
     
    border-radius: 50px;
    color: rgb(37, 173, 128);
    border: 1px solid #cce7d0;
    position: absolute;
    bottom: 15px;
    right: 10px;
  }
  #t-shirts .pro-container2 {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    flex-wrap: wrap;
  }